*data/
*local/
.ipynb_checkpoints/
__pycache__/

# week one
*keys/
*output*
.terraform/
*.tfstate
*.tfstate*
*.lock
*.lock.*

# week two
.env
*.csv
.ssh_tunnel

# week three
week_3_data_warehouse/mage_etl_pipeline/DataEngineeringZoomCamp2024